<%# NOTE: This partial is no longer in use, %>
<%# there used to be `_form-new.html.erb` and `_form-edit.html.erb` %>
<%# cause it does not makes for new page to have a `completed` field %>
<%# but both forms have been consolidated to `_form-create-or-edit.html` %>
<%# where an if statement has been added to detect if a task is new or not %>

<%# the underscore on the form means that it is a partial file, just a part of the page %>
<%# _form-new.html.erb and _form-edit.html.erb can be a single file if their forms are similar %>

<div class="form-container">
  <%# @task is a task instance with nil values coming from the task_controller#new %>
  <%# form_for and simple_form_for automatically sets the right request verb, in this case it is post %>
  <%= simple_form_for @task do |f| %>
    <%= f.input :title %>
    <%= f.input :details %>
    <%# the form's submit automatically knows to post to the task_controller#create method %>
    <%= f.submit "Create Task", class: "btn btn-primary btn-block py-2" %>
  <% end %>
</div>