<div class="page-container">
  <h1 class="headers">Create Task</h1>

  <%# see partial files, the ones starting with _underscore %>
  <%= render 'form-new' %>

  <%# link caption with fontawesome %>
  <%= link_to tasks_path, class: "btn btn-link p-0" do %>
    <i class="fas fa-undo"></i> Back to Task List
  <% end %>
</div>