// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// resetting default paddings and margins
* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgb(245, 245, 245);
}

.headers {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: rgb(90, 90, 90)
}

.headers-and-options {
  gap: 1rem;
  margin-bottom: 1rem;
  .headers {
    // flex grow and shrink
    flex: 1 1;
    font-size: 2rem;
    margin-bottom: 0rem;
    color: rgb(90, 90, 90)
  }

  .task-btn {
    width: 6rem;
  }
}

.task-checkbox {
  margin-right: .5rem;
}

.task-details {
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(200, 200, 200);
  border-radius: .5rem;
  padding: 2rem 2rem;

  .task-title {
    font-size: 1rem;
  }
}

.page-container {
  color: rgb(90, 90, 90);
  margin: 2rem 2rem 0 2rem;

  .main-sections-container{
    width: 50%;
    margin: 0 auto;
  }
}

.task-container {
  margin-bottom: 1rem;
  padding: 0px 1rem 1rem;
  border-bottom: 1px solid rgb(200, 200, 200);

  // remove border lines from bootstrap group items
  .list-items {
    border:none;
  }

  .action-icon {
    display: block;
    text-decoration: none;
    font-size: .5rem;
    // vertical-align: text-top;
    padding: .25rem;


    &.edit-icon {
      margin-left: .25rem;
      color: rgb(90, 90, 90);
      &:hover{
        color: hsl(211, 100%, 50%);
      }
    }

    &.delete-icon {
      color:rgb(245, 175, 167);
      &:hover{
        color:rgb(235, 107, 93);
      }
    }
  }
}

.task-info-container {
  p {
    margin: 0px;
  }
  margin-bottom: 1rem;
  padding: 0px 1rem 1rem;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.form-container {
  margin-bottom: 1rem;
  padding: 0px 1rem 1rem;
  border-bottom: 1px solid rgb(200, 200, 200);
}

// gap for footer links
.footer-actions {
  gap: 1rem;
}

